*{
    margin: 0px;
}
ul{
    display: flex;
    justify-content:flex-end;
    gap:150px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: red;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px;
}
nav{
    background-color: darkblue;
    padding: 20px;
}

li a:hover{
    background-color: black;
}